.client {
  @extend %section;
}

.client__wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 24px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #ffffff;
  fill: #8e8f99;
  transition: fill var(--anim-fast), border-color var(--anim-fast);

  &:hover,
  &:focus {
    fill: #4d5ae5;
    border-color: #4d5ae5;
  }
}

.client__header {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
