.hero {
  background-color: #2e2f42;
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    padding-top: 111px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desc.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desc-2x.jpg);
    }
  }
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.hero__title {
  margin-bottom: 72px;
  font-weight: 700;
  color: var(--main-title-color);
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 48px;
  }
}
