.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-open {
  width: 32px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-open-icon {
  stroke: #2e2f42;
}
.menu-close {
  stroke: #000000;
}
.menu-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 16px;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  &.current {
    color: var(--accent-color);
  }
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  margin-bottom: 48px;
  margin-top: 40px;
}

.mob-menu-tel {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  color: #4d5ae5;
  display: block;
}

.mob-menu-socials {
  display: flex;
  align-items: center;
  gap: 56px;
}

.mob-menu-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #ffffff;
}

.mob-menu-pos {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-container {
}
