.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #ffffff;

  transition: fill var(--anim-fast), background-color var(--anim-fast);

  //   &:hover,
  //   &:focus {
  //     fill: #ffffff;
  //     background-color: #4d5ae5;
  //   }
}
