.solution {
  @extend %section;
}

.solution__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.solution__item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 8px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.solution__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 24px) / 2);
  }
}

.solution__list {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.solution__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.icon-antena::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
