.team {
  @extend %section;
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;

  @media screen and (min-width: 768px) {
    column-gap: 24px;
  }
}

.team__card {
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color);
}

.team__position {
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color);
}

.team__wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
}
